CT_ARCH_ARM=y
CT_ARCH_ARM_V7=y
CT_ARCH_ARM_EABI=y
CT_ARCH_FLOAT_HW=y
CT_ARCH_ARM_FPU_NEON=y

CT_TARGET="armv7-unknown-linux-gnueabihf"

CT_KERNEL_LINUX=y
CT_KERNEL_VERSION="3.10.108"

CT_BINUTILS_VERSION="2.40"

CT_CC_GCC=y
CT_CC_GCC_VERSION="11.4.0"
CT_CC_LANG_C=y
CT_CC_LANG_CXX=y

CT_LIBC_GLIBC=y
CT_LIBC_GLIBC_VERSION="2.17"
CT_LIBC_GLIBC_FORCE_UNWIND=y
CT_LIBC_GLIBC_ENABLE_OBSOLETE_RPC=y

CT_THREADS_POSIX=y
CT_SHARED_LIBS=y
CT_DISABLE_MULTILIB=y

CT_USE_SYSROOT=y
CT_SYSROOT_NAME="sysroot"

CT_LOG_ALL=y
CT_LOG_LEVEL_MAX=y

